<div id="header">
  <div class="bigwidth">
    <a href="#">فوتبال ایران </a>
    <a class="logo" href="#">
      <img src="assets/image/logo.svg" alt="web logo">
    </a>
  </div>
  <div class="bigwidth">
    <ul class="navbar">
      <li><a href="#">صفحه اصلی</a></li>
      <li><a href="#">قاره سازنده</a>
        <ul>
          <li><a href="#">آمریکا</a></li>
          <li><a href="#">اروپا</a></li>
          <li><a href="#">آسیا</a></li>
        </ul>
      </li>
      <li><a href="#">درباره ما</a></li>
      <li><a href="#">ارتباط با ما</a></li>
    </ul>
  </div>
</div>
