#header{
  height: 200px;
  background-color: gray;
  border-bottom: 5px solid #ADD8E6;
}

#header a{
  font-size: 32px;
  display: block;
}

#header .bigwidth{
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

#header .bigwidth span{
  color: yellow;
}

#header .bigwidth .logo img{
  width: 348px;
  max-width: 100%;
  float: left;
  margin: -68px 0 0 0px;
}

#header .bigwidth .logo img:hover{
  opacity: 0.5;
}

.bigwidth{
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

#header .bigwidth .navbar li{
  display: inline-block;
}

#header .bigwidth .navbar li a{
  font-size: 12px;
  background-color: #555555;
  padding: 5px 20px 5px 20px;
  margin: 28px 3px 0px 0px;
  border-radius: 10px 10px 0 0;
}

#header .bigwidth .navbar li a:hover{
  opacity: 0.5;
}

#header .bigwidth .navbar li ul li a{
  font-size:11px;
  background-color: transparent;
  padding: 9px 5px 3px 5px;
  margin: 2px 15px 2px 19px;
}

#header .bigwidth .navbar li ul{
  position: absolute;
  visibility: hidden;
  background-color: #555555;
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px #808080;
  border: 1px solid #DEDEDE;
  transition: all 2ms linear;
  padding: 0px 0 0 0;
  margin: 4px 44px 0 0;
}

#header .bigwidth .navbar li:hover ul{
  opacity: 1.0;
  visibility: visible;
}

#header .bigwidth .navbar li ul li{
  display: block;
}
