<!--<footer>-->
<!--  <div id="footer-1">-->
<!--    <div class="footer-item-1">-->
<!--      <h3 class="footer-title">درباره ما</h3>-->
<!--      <p class="footer-text">-->
<!--        وب سایت خودرو با هدف اطلاع رسانی در حوزه خودرو در آذر 92 فعالیت خود را آغاز نموده است. بزرگترین آرزوی ما این است که علاقمندان صنعت خودرو بتوانند تمامی نیازهای خود را در وب سایت "خودرو" بیابند و امیدواریم که بتوانیم اعتماد و توجه تمامی شما عزیزان را به خود جلب کنیم. همواره پذیرای انتقادات و پیشنهادات شما خواهیم بود.-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="footer-item-2">-->
<!--      <h3 class="footer-title">پیوندها</h3>-->
<!--      <ul class="footer-text">-->
<!--        <li><a href="#">سایت ایران خودرو</a></li>-->
<!--        <li><a href="#">سایپا</a></li>-->
<!--        <li><a href="#">پارس خودرو</a></li>-->
<!--        <li><a href="#">مدیران خودرو</a></li>-->
<!--        <li><a href="#">مدیا موتورز</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="footer-item-3">-->
<!--      <h3 class="footer-title">منوی سریع</h3>-->
<!--      <ul class="footer-text">-->
<!--        <li><a href="#">صفحه اصلی</a></li>-->
<!--        <li><a href="#">قاره سازنده</a>-->
<!--          <ul>-->
<!--            <li><a href="#">آمریکا</a></li>-->
<!--            <li><a href="#">اروپا</a></li>-->
<!--            <li><a href="#">آسیا</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li><a href="#">درباره ما</a></li>-->
<!--        <li><a href="#">ارتباط با ما</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div id="footer-2">-->
<!--    <div class="copyright">-->
<!--      <span class="cp-text">کلیه حقوق طراحی این وب سایت متعلق به شرکت <a href="#"> Beyamooz.com </a> می باشد.</span>-->
<!--    </div>-->
<!--    <div class="icons">-->
<!--      <div class="socialbar">-->
<!--        <ul class="social-icon">-->
<!--          <li class="fb"><a href="#" alt="facebook"><div class="sb"></div></a></li>-->
<!--          <li class="gp"><a href="#" alt="googlepluse"><div class="sb"></div></a></li>-->
<!--          <li class="ln"><a href="#" alt="ln"><div class="sb"></div></a></li>-->
<!--          <li class="pr"><a href="#" alt="pr"><div class="sb"></div></a></li>-->
<!--          <li class="rss"><a href="#" alt="rss"><div class="sb"></div></a></li>-->
<!--          <li class="tw"><a href="#" alt="tw"><div class="sb"></div></a></li>-->
<!--          <li class="yt"><a href="#" alt="yt"><div class="sb"></div></a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="search">-->
<!--      <form method="get" action="#">-->
<!--        <input type="text" name="q" size="20px" maxlength="255" value="کلمه مورد نظر را وارد نمایید"/>-->
<!--        <input type="submit" value="جستجو"/>-->
<!--        <br>-->
<!--        <input type="hidden" name="sitesearch" value="#"/>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
